<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <connectionStrings>
    <add name="WaterWorldEntities" connectionString="metadata=res://*/Models.WaterWorldModel.csdl|res://*/Models.WaterWorldModel.ssdl|res://*/Models.WaterWorldModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HOME\SQLEXPRESS;initial catalog=WaterWorld;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>